body {
    font-family: roboto, helvetica, sans-serif;
}

li {
    display: inline-flex;
    margin: 16px;
    padding: 
   
}

.section1 {
    background-color: #1F2937;
    padding: 56px;
}


.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links, .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
}

.header {
    display: flex;
    justify-content: space-between;
   
    
}

.hero {
    display: flex;
    flex-wrap: nowrap;
    max-width: 800px;
}

.image {
    background-color: grey;
    color: white;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}