body {
    font-family: roboto, helvetica, sans-serif;
}

li {
    display: inline-flex;
    margin: 16px;
    padding: 
   
}

a {
    text-decoration: none;
    color: inherit;
}

a :hover {
    color: rgb(rgb(130, 124, 124), green, blue)
}
.section1 {
    background-color: #1F2937;
    padding: 56px;
}


.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links, .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.button {
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    width: 100px;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
   
    
}

.hero {
    display: flex;
    flex-wrap: nowrap;

}

.hero-left {
    max-width: 400px;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 16px;
    padding-top: 36px   
}




.image-placeholder {
    background-color: grey;
    color: white;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}